In [2]:
import pandas as pd

In [3]:
file = "Resources/purchase_data.csv"

In [4]:
df = pd.read_csv(file)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
# Player Count - get the total amount of players

uniquePlayers = df["SN"].unique()
#print(f" There are {len(uniquePlayers)} unique players.")

playercountdict = [{"Total Players": len(uniquePlayers)}]
playercountdictDF = pd.DataFrame(playercountdict)
playercountdictDF

   Total Players
0            576

In [6]:
# Purchasing Analysis (Total)
# Number of Unique Items
uniqueItems = df["Item ID"].unique()

# Average Purchase Price
averagePrice = df["Price"].mean()

# Total Number of Purchases
count = df["Purchase ID"].value_counts()

# Total Revenue
revenue = df["Price"].sum()

In [7]:
purchaseAnalysisDict = [{"Unique Items":len(uniqueItems),
                         "Average Purchase Price": round(averagePrice,2),
                         "Total Purchases": len(count),
                         "Total Revenue":round(revenue,2)}]

purchAnalysisDf = pd.DataFrame(purchaseAnalysisDict)
purchAnalysisDf

   Unique Items  Average Purchase Price  Total Purchases  Total Revenue
0           179                    3.05              780        2379.77

In [8]:
# Gender Demographics
# Percentage and Count of Male Players

maleDf = df.loc[df["Gender"] == "Male",:]
uniqueMaleDf = maleDf["SN"].unique()
percentMale = (len(uniqueMaleDf) / len(uniquePlayers)) * 100

# Percentage and Count of Female Players

femaleDf = df.loc[df["Gender"] == "Female",:]
uniqueFemaleDf = femaleDf["SN"].unique()
percentFemale = (len(uniqueFemaleDf) / len(uniquePlayers)) * 100

# Percentage and Count of Other / Non-Disclosed

otherDf = df.loc[df["Gender"] == "Other / Non-Disclosed",:]
uniqueOtherDf = otherDf["SN"].unique()
percentOther = (len(uniqueOtherDf) / len(uniquePlayers)) * 100

In [9]:
genderDemoDict= [{"Gender":"Male", "Total Count":len(uniqueMaleDf), "Percentage of Players":round(percentMale,2)},
                 {"Gender":"Female", "Total Count":len(uniqueFemaleDf), "Percentage of Players":round(percentFemale,2)},
                 {"Gender":"Other / Non-Disclosed", "Total Count":len(uniqueOtherDf), "Percentage of Players":round(percentOther,2)}]

genderDemoDf = pd.DataFrame(genderDemoDict)
genderDemoDf.set_index("Gender")

                       Total Count  Percentage of Players
Gender
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

In [10]:
# Purchasing Analysis (Gender)
# The below each broken by gender

# Purchase Count
malePurchases = len(maleDf)
femalePurchases = len(femaleDf)
otherPurchases = len(otherDf)

# Average Purchase Price

avgMalePurchPrice = round(maleDf["Price"].mean(),2)
avgFemalePurchPrice = round(femaleDf["Price"].mean(),2)
avgOtherPurchPrice = round(otherDf["Price"].mean(),2)

# Total Purchase Value

sumMalePrice = round(maleDf["Price"].sum(),2)
sumFemalePrice = round(femaleDf["Price"].sum(),2)
sumOtherPrice = round(otherDf["Price"].sum(),2)

# Average Purchase Total per Person by Gender

maleAvgPerPerson = round(sumMalePrice / len(uniqueMaleDf),2)
femaleAvgPerPerson = round(sumFemalePrice / len(uniqueFemaleDf),2)
otherAvgPerPerson = round(sumOtherPrice / len(uniqueOtherDf),2)

In [11]:
purchaseAnalyDictGender= [
    {"Gender":"Male","Purchase Count": malePurchases, "Average Purchase Price":avgMalePurchPrice, "Total Purchase Value":sumMalePrice,"Avg Total Purchase per Person": maleAvgPerPerson},
    {"Gender":"Female","Purchase Count": femalePurchases, "Average Purchase Price":avgFemalePurchPrice, "Total Purchase Value":sumFemalePrice,"Avg Total Purchase per Person": femaleAvgPerPerson},
    {"Gender":"Other / Non-Disclosed","Purchase Count": otherPurchases, "Average Purchase Price":avgOtherPurchPrice, "Total Purchase Value":sumOtherPrice,"Avg Total Purchase per Person": otherAvgPerPerson}]
    
purchaseAnalyGender_df = pd.DataFrame(purchaseAnalyDictGender)
purchaseAnalyGender_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Male,652,3.02,1967.64,4.07
1,Female,113,3.20,361.94,4.47
2,Other / Non-Disclosed,15,3.35,50.19,4.56

In [12]:
# Age Demographics

# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
# Purchase Count


bins = [0,10,14,19,24,29,34,39,100]
ageCategory = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

df["Age Bin"] = pd.cut(df["Age"], bins, labels = ageCategory)

cleanDf = df[["SN","Age","Gender","Price", "Age Bin"]]
cleanDf.head()
dropDupSn = cleanDf.drop_duplicates(subset=["SN"])


firstBin = len(dropDupSn.loc[dropDupSn["Age Bin"] == "<10",:])
secondBin = len(dropDupSn.loc[dropDupSn["Age Bin"] == "10-14",:])
thirdBin = len(dropDupSn.loc[dropDupSn["Age Bin"] == "15-19",:])
fourthBin = len(dropDupSn.loc[dropDupSn["Age Bin"] == "20-24",:])
fifthBin = len(dropDupSn.loc[dropDupSn["Age Bin"] == "25-29",:])
sixthBin = len(dropDupSn.loc[dropDupSn["Age Bin"] == "30-34",:])
seventhBin = len(dropDupSn.loc[dropDupSn["Age Bin"] == "35-39",:])
eighthBin = len(dropDupSn.loc[dropDupSn["Age Bin"] == "40+",:])

percentFirstBin = round(firstBin /  len(uniquePlayers) * 100,2)
percentSecondBin = round(secondBin /  len(uniquePlayers) * 100,2)
percentThirdBin = round(thirdBin /  len(uniquePlayers) * 100,2)
percentFourthBin = round(fourthBin /  len(uniquePlayers) * 100,2)
percentFifthBin = round(fifthBin /  len(uniquePlayers) * 100,2)
percentSixthBin = round(sixthBin /  len(uniquePlayers) * 100,2)
percentSeventhBin = round(seventhBin /  len(uniquePlayers) * 100,2)
percentEighthBin = round(eighthBin /  len(uniquePlayers) * 100,2)



ageDemoDf = pd.DataFrame({"Age Bin": ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"],
                          "Total Count": [firstBin, secondBin, thirdBin, fourthBin, fifthBin, sixthBin, seventhBin, eighthBin],
                          "Percent of Players": [percentFirstBin, percentSecondBin, percentThirdBin, percentFourthBin, percentFifthBin,percentSixthBin,percentSeventhBin, percentEighthBin]})

ageDemoDf.set_index("Age Bin")

         Total Count  Percent of Players
Age Bin
<10               24                4.17
10-14             15                2.60
15-19            107               18.58
20-24            258               44.79
25-29             77               13.37
30-34             52                9.03
35-39             31                5.38
40+               12                2.08

In [13]:
compDf = cleanDf.groupby(["Age Bin"])

# Get Counts
counts_agegroup = compDf["Price"].count().tolist()

# Average Purchase Price

compAvgDf = compDf.mean()
avg_Purch_List_unrounded = compAvgDf["Price"].tolist()
avg_Purch_List_unformat = [round(num, 2) for num in avg_Purch_List_unrounded]
avg_Purch_List = ["${:,.2f}".format(num) for num in avg_Purch_List_unformat]


# Total Purchase Value
compSumDf = compDf.sum()
sum_List = compSumDf["Price"].tolist()
sum_List_unrounded = compSumDf["Price"].tolist()
sum_List_unformat = [round(num, 2) for num in sum_List_unrounded]
sum_List_formatted = ["${:,.2f}".format(num) for num in sum_List_unformat]




# Average Purchase Total per Person by Age Group
average_pp_age = [round(sum_List[0] / firstBin,2),
                  round(sum_List[1] / secondBin,2),
                  round(sum_List[2] / thirdBin,2),
                  round(sum_List[3] / fourthBin,2),
                  round(sum_List[4] / fifthBin,2),
                  round(sum_List[5] / sixthBin,2),
                  round(sum_List[6] / seventhBin,2),
                  round(sum_List[7] / eighthBin,2)]

avg_List_unformat = [round(num, 2) for num in average_pp_age]
avg_List_formatted = ["${:,.2f}".format(num) for num in avg_List_unformat]

In [46]:
purchase_analy_age = pd.DataFrame({"Age Bin": ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"],
                                   "Purchase Count": counts_agegroup,
                                   "Average Purchase Price": avg_Purch_List,
                                   "Total Purchase Value": sum_List_formatted,
                                   " Avg Purchase Per Person": avg_List_formatted})

purchase_analy_age.set_index("Age Bin")

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Per Person
Age Bin,,,,
<10,32,$3.40,$108.96,$4.54
10-14,19,$2.68,$50.95,$3.40
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [72]:
# Top Spenders

# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

smallerDf = df[["SN","Price"]]
purchaseCounts = smallerDf["SN"].value_counts()

groupedPurchaseMean = smallerDf.groupby("SN")



purchaseMean_unformat = groupedPurchaseMean["Price"].mean()
purchaseMean = ["${:,.2f}".format(num) for num in purchaseMean_unformat]

purchaseSum = groupedPurchaseMean["Price"].sum()
#purchaseSum = ["${:,.2f}".format(num) for num in purchaseSum_unformat]




testingNew = pd.DataFrame({"Purchases": purchaseCounts,
                           "Average Purchase Price": purchaseMean,
                           "Total Purchase Value": purchaseSum})

sortedTestingNew = testingNew.sort_values(["Purchases", "Average Purchase Price"], ascending=False)

sortedTestingNew.head()



# SN
# Purchase Count
# Average Purchase Price
# Total Purchase Value

             Purchases Average Purchase Price  Total Purchase Value
Lisosia93            5                  $3.79                 18.96
Idastidru52          4                  $3.86                 15.45
Iral74               4                  $3.40                 13.62
Chamjask73           3                  $4.61                 13.83
Iskadarya95          3                  $4.37                 13.10