In [125]:
import pandas as pd

In [126]:
file = "Resources/purchase_data.csv"

In [127]:
df = pd.read_csv(file)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [128]:
# Player Count - get the total amount of players

uniquePlayers = df["SN"].unique()
#print(f" There are {len(uniquePlayers)} unique players.")

playercountdict = [{"Total Players": len(uniquePlayers)}]
playercountdictDF = pd.DataFrame(playercountdict)
playercountdictDF

   Total Players
0            576

In [129]:
# Purchasing Analysis (Total)
# Number of Unique Items
uniqueItems = df["Item ID"].unique()

# Average Purchase Price
averagePrice = df["Price"].mean()

# Total Number of Purchases
count = df["Purchase ID"].value_counts()

# Total Revenue
revenue = df["Price"].sum()

In [130]:
purchaseAnalysisDict = [{"Unique Items":len(uniqueItems),
                         "Average Purchase Price": round(averagePrice,2),
                         "Total Purchases": len(count),
                         "Total Revenue":round(revenue,2)}]

purchAnalysisDf = pd.DataFrame(purchaseAnalysisDict)
purchAnalysisDf

   Unique Items  Average Purchase Price  Total Purchases  Total Revenue
0           179                    3.05              780        2379.77

In [131]:
# Gender Demographics
# Percentage and Count of Male Players

maleDf = df.loc[df["Gender"] == "Male",:]
uniqueMaleDf = maleDf["SN"].unique()
percentMale = (len(uniqueMaleDf) / len(uniquePlayers)) * 100

# Percentage and Count of Female Players

femaleDf = df.loc[df["Gender"] == "Female",:]
uniqueFemaleDf = femaleDf["SN"].unique()
percentFemale = (len(uniqueFemaleDf) / len(uniquePlayers)) * 100

# Percentage and Count of Other / Non-Disclosed

otherDf = df.loc[df["Gender"] == "Other / Non-Disclosed",:]
uniqueOtherDf = otherDf["SN"].unique()
percentOther = (len(uniqueOtherDf) / len(uniquePlayers)) * 100

In [132]:
genderDemoDict= [{"Gender":"Male", "Total Count":len(uniqueMaleDf), "Percentage of Players":round(percentMale,2)},
                 {"Gender":"Female", "Total Count":len(uniqueFemaleDf), "Percentage of Players":round(percentFemale,2)},
                 {"Gender":"Other / Non-Disclosed", "Total Count":len(uniqueOtherDf), "Percentage of Players":round(percentOther,2)}]

genderDemoDf = pd.DataFrame(genderDemoDict)
genderDemoDf.set_index("Gender")

                       Total Count  Percentage of Players
Gender
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

In [133]:
# Purchasing Analysis (Gender)
# The below each broken by gender

# Purchase Count
malePurchases = len(maleDf)
femalePurchases = len(femaleDf)
otherPurchases = len(otherDf)

# Average Purchase Price

avgMalePurchPrice = round(maleDf["Price"].mean(),2)
avgFemalePurchPrice = round(femaleDf["Price"].mean(),2)
avgOtherPurchPrice = round(otherDf["Price"].mean(),2)

# Total Purchase Value

sumMalePrice = round(maleDf["Price"].sum(),2)
sumFemalePrice = round(femaleDf["Price"].sum(),2)
sumOtherPrice = round(otherDf["Price"].sum(),2)

# Average Purchase Total per Person by Gender

maleAvgPerPerson = round(sumMalePrice / len(uniqueMaleDf),2)
femaleAvgPerPerson = round(sumFemalePrice / len(uniqueFemaleDf),2)
otherAvgPerPerson = round(sumOtherPrice / len(uniqueOtherDf),2)

In [134]:
purchaseAnalyDictGender= [
    {"Gender":"Male","Purchase Count": malePurchases, "Average Purchase Price":avgMalePurchPrice, "Total Purchase Value":sumMalePrice,"Avg Total Purchase per Person": maleAvgPerPerson},
    {"Gender":"Female","Purchase Count": femalePurchases, "Average Purchase Price":avgFemalePurchPrice, "Total Purchase Value":sumFemalePrice,"Avg Total Purchase per Person": femaleAvgPerPerson},
    {"Gender":"Other / Non-Disclosed","Purchase Count": otherPurchases, "Average Purchase Price":avgOtherPurchPrice, "Total Purchase Value":sumOtherPrice,"Avg Total Purchase per Person": otherAvgPerPerson}]
    
purchaseAnalyGender_df = pd.DataFrame(purchaseAnalyDictGender)
purchaseAnalyGender_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Male,652,3.02,1967.64,4.07
1,Female,113,3.20,361.94,4.47
2,Other / Non-Disclosed,15,3.35,50.19,4.56

In [ ]:
# Age Demographics

# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Average Purchase Total per Person by Age Group